/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-area{
	-fx-text-fill: #ffffff;
	-fx-background-color: #0C2239;
	-fx-font-size: 14;
	}


.text-area .content{
    -fx-background-color: #0C2239;
    -fx-border-color: 	#77E18B;
    -fx-border-width: 2;
    -fx-border-radius: 14; 
	}


.text-field {
    -fx-text-fill: #ffffff;
    -fx-background-color: #0C2239; 
    -fx-border-color: #77E18B; 
    -fx-border-width: 2; 
    -fx-border-radius: 14;
    -fx-font-size: 14;
    }


.dynamic-labels {
	-fx-text-fill: #ff5f5f;
	-fx-font-size: 13;
	}
	